language: php

php:
  - 7.0
  - 7.1

sudo: false

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - phpunit --coverage-text

matrix:
  fast_finish: true
