language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

sudo: false

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - phpunit -c app/ --coverage-clover=coverage.clover

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true
